<div class="copyright-area pb-3 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-5 text-center">
                <hr>
                <p class="copyright-text copyright-two">© 2023 Tüm hakları saklıdır. /<a style="background: transparent; color: #000;" href="https://stagedijital.com/"> Stage Dijital ®</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
