body{
    background:#fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

a{
    background: #dd4814;
    color: #fff;
    padding: 5px;
}
.yeni{

    margin: auto;
    margin-top: 5%;
}

.table tr{
    margin-top: 2%!important;
}

form{
    margin: 2% auto;
}

button{
    margin-left: 5px;
    background: #dd4814;
    color: #fff;
    padding: 3px 10px;
    border: none;
}

.login{
    margin-top: 10%;
    text-align: -webkit-center;

}

.stage{
    fill: #fff;

    width: 100%;
}

.card{

    color: #1b1b1b;
    padding: 10%;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

input, select, textarea{
    color: #000;
}
.d-flex{
    display: flex;
}
.deletebutton{
    margin-top: 0;
    padding: 0;
    align-content: flex-start!important;
}

