
<h1>Login Sayfası</h1>

<form method = "post" action=""{{ base_url("management/login") }}">
    <div><label for="">Kullanıcı Adı:</label></div>
    <div><input name="user_name" type="text"></div>
    <div><label for="">Kullanıcı Şifre:</label></div>
    <div><input name="user_password" type="password"></div>
    <div style="margin-top:1%;"><button type="submit">Giriş</button></div>
</form>
